<div class="sample-projects-wrapper">
  <div>
    <h3>Sample Projects</h3>
  </div>
  <div>
    <a href="https://github.com/raychorn/microservices-framework" target="_blank">Dynamic Pluggable Microservices
      Framework</a>
    <p>Dynamic Pluggable Microservices Framework.
      Designed to quickly publish Python Modules in the form of a dynamic
      RESTful Interface that supports GET, POST, PUT and DELETE.
      This is functional programming meets REST meets
      100% pluggability using minimal code.</p>
      <p>
    <span><a href="https://raychorn.medium.com/dynamic-pluggable-microservice-framework-83ddc4b3d26e" target="_blank">Read
        More...</a></span>
      </p>
  </div>
  <div>
    <p></p>
  </div>
  <div>
    <p></p>
  </div>
  <div>
    <a href="https://gist.github.com/0bd8a79aab8c32b068a790b8cebe76df" target="_blank">Self Deploying Microservice
      Architecture for Python 3.x</a>
    <p>Plug-in Python Module and either Introspect or use Metadata
      in the Module to define the specific functions to expose via REST.
      Each function becomes a separate and distinct REST Web Service
      via a Smart APIView subclass that encapsulates the Security Model
      and the end-points.</p>
  </div>
</div>
