<div class="footer-wrapper">
  <div><small>(c). Copyright Ray C Horn, All Rights Reserved.</small></div>
  <div><a href="https://www.linkedin.com/in/raychorn/" target="_blank"><img alt="LinkedIn" matTooltip="www.linkedin.com/in/raychorn/"
        src="https://img.shields.io/badge/LinkedIn-Ray%20C%20Horn-blue?style=plastic&logo=linkedin"></a></div>
  <div><a href="https://github.com/sponsors/raychorn" target="_blank"><img alt="Sponsor Me" matTooltip="Sponsor Me"
        src="https://img.shields.io/badge/Sponsor%20Me-Support%20my%20work!!!-blue?style=plastic&logo=github"></a></div>
  <div><a href="mailto:raychorn@gmail.com"><img alt="Email" matTooltip="raychorn@gmail.com"
        src="https://img.shields.io/badge/Email-raychorn@gmail.com-blue?style=plastic&logo=gmail"></a></div>
  <div><a href="https://raychorn.slack.com" target="_blank"><img alt="Slack" matTooltip="Slack Me"
        src="https://img.shields.io/badge/Message%20Me-via%20Slack-blue?style=plastic&logo=slack"></a></div>
</div>
