.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  margin-top: 5px;
  margin-left: 10px;
}

.footer-wrapper div {
  width: 250px;
}

@media only screen and (max-width: 640px) {
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-wrapper > div {
    padding: 0px;
  }
}

@media only screen and (max-width: 440px) {
  .footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-wrapper > div {
    padding: 0px;
  }
}
