/* You can add global styles to this file, and also import other style files */
  @font-face {
    font-family: 'Grenze_Gotisch';
    src: url('/assets/fonts/Grenze_Gotisch/GrenzeGotisch-VariableFont_wght.ttf')  format('truetype');
}

  @font-face {
    font-family: 'Lemonada';
    src: url('/assets/fonts/Lemonada/Lemonada-VariableFont_wght.ttf')  format('truetype');
}

:root {
    font-family: 'Lemonada';
    font-size: 0.8rem;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 6rem;
    padding: 1rem;
}

h1, h2, h3 {
    font-family: 'Grenze_Gotisch';
    font-size: 2.0rem;
    margin-top: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Lemonada'; }

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

  /* CSS Rules Here */

}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

  /* CSS Rules Here */

}
