<div>
  <h4>Languages and Tecnologies</h4>
</div>
<div class="main1-languages-wrapper">
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/python-logo-2020-12-04_5-55-14.png?raw=true"
      alt="Python" matTooltip="Python 3.x"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/golang-logo-2020-12-04_6-06-50.png?raw=true"
      alt="Go" matTooltip="Golang"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/rust-logo-2020-12-04_6-09-56.png?raw=true"
      alt="Rust" matTooltip="Rust"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/node-js-logo-2020-12-04_6-12-28.png?raw=true"
      alt="Node.js" matTooltip="Node.js"></div>
  <div><img
      src="https://github.com/raychorn/raychorn/blob/main/images/python-django-logo-2020-12-04_6-18-19.png?raw=true"
      alt="Django" matTooltip="Python+Django"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/python-web-tech-2020-12-04_6-28-59.png?raw=true"
      alt="Python+jQuery" matTooltip="Python+jQuery"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/sql-alchemy-logo-2020-12-04_6-37-21.png?raw=true"
      alt="SQLAlchemy" matTooltip="SQLAlchemy"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/mongodb-logo-2020-12-04_6-47-26.png?raw=true"
      alt="MongoDB" matTooltip="MongoDb"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/angular-logo-2020-12-04_6-16-13.png?raw=true"
      alt="Angular v11" matTooltip="Powered by Angular v11"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/ts-logo-2020-12-04_6-21-19.png?raw=true"
      alt="TypeScript" matTooltip="TypeScript"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/html-js-css-logo-2020-12-04_6-26-39.png?raw=true"
      alt="HTML+JS+CSS" matTooltip="HTML+JS+CSS"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/ajax-logo-2020-12-04_6-31-14.png?raw=true"
      alt="AJAX" matTooltip="AJAX"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/json-2020-12-04_6-33-21.png?raw=true" alt="JSON" matTooltip="JSON">
  </div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/wasm-logo-2020-12-04_6-51-40.png?raw=true"
      alt="WASM" matTooltip="WASM"></div>
  <div><img src="https://github.com/raychorn/raychorn/blob/main/images/sqlite-logo-2020-12-04_6-39-21.png?raw=true"
      alt="SQlite" matTooltip="SQLite"></div>
  <div><img
      src="https://github.com/raychorn/raychorn/blob/main/images/mysql-postgres-logo-2020-12-04_6-42-00.png?raw=true"
      alt="MySQL+Postgres" matTooltip="MYSQL+Postgres"></div>
</div>
