<div class="main1-wrapper">
  <div>
    <h1>raychorn.github.io</h1>
  </div>
  <div>
    <h2> Ray C Horn - Senior Software Engineer</h2>
  </div>
  <div>
    <h3>Full Stack Developer</h3>
  </div>
  <div>
    <app-languages-tech *ngIf="isOnLanguagesAndTech()"></app-languages-tech>
  </div>
  <div>
    <h3>Sample Projects</h3>
  </div>
  <div>
    <a href="https://github.com/raychorn/microservices-framework" target="_blank">Dynamic Pluggable Microservices Framework</a>
    <p>Dynamic Pluggable Microservices Framework.
    Designed to quickly publish Python Modules in the form of a dynamic
    RESTful Interface that supports GET, POST, PUT and DELETE.
    This is functional programming meets REST meets
    100% pluggability using minimal code.</p>
    <span><a href="https://raychorn.medium.com/dynamic-pluggable-microservice-framework-83ddc4b3d26e" target="_blank">Read More...</a></span>
  </div>
  <div>
    <a href="https://gist.github.com/0bd8a79aab8c32b068a790b8cebe76df" target="_blank">Self Deploying Microservice Architecture for Python 3.x</a>
    <p>Plug-in Python Module and either Introspect or use Metadata
    in the Module to define the specific functions to expose via REST.
    Each function becomes a separate and distinct REST Web Service
    via a Smart APIView subclass that encapsulates the Security Model
    and the end-points.</p>
  </div>
  <div class="main1-languages-wrapper">
    <div>
      <a href="https://vyperlogix.com/" target="_blank"><img alt="Vyper Logix Corp"
    src="https://img.shields.io/badge/Angular%20v11-Sample%20Site-blue?style=flat-square&logo=angular"></a>
    </div>
    <div>
      <a href="https://console.firebase.google.com/" target="_blank"><img alt="Google Firebase"
    src="https://img.shields.io/badge/Google%20Cloud%20Platform-Firebase-blue?style=flat-square&logo=firebase"></a>
    </div>
  </div>
</div>
