.main1-wrapper {
  display: flex;
  flex-direction: column;
  border:1px solid lightblue;
  width: 100%;
}

.main1-languages-wrapper {
  display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
  width: 100%;
  justify-content: space-around;
}

.main1-wrapper p {
  width: 85%;
  text-align: justify;
  text-justify: inter-word;
  background-color: silver;
}

.main1-samples-wrapper {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-around;
}
