<div class="main1-wrapper">
  <div>
    <h1>raychorn.github.io</h1>
  </div>
  <div>
    <app-left-sidebar></app-left-sidebar>
  </div>
  <div>
    <p></p>
  </div>
  <div>
    <img alt="Powered by Angular"  matTooltip="Powered by Angular 11"
      src="https://img.shields.io/badge/Powered%20by%20Angular%20v11-Yet%20Another%20Sample%20Site-blue?style=plastic&logo=angular">
    </div>
    <div>
    <h2> Ray C Horn - Senior Software Engineer</h2>
  </div>
  <div>
    <h3>Full Stack Developer</h3>
  </div>
  <div>
    <app-wasm-sample1 *ngIf="isOnWASMSample1()"></app-wasm-sample1>
  </div>
  <div>
    <app-wasm-python-repl *ngIf="isOnWASMREPL1()"></app-wasm-python-repl>
  </div>
  <div>
    <app-languages-tech *ngIf="isOnLanguagesAndTech()"></app-languages-tech>
  </div>
  <div>
    <app-sample-projects *ngIf="isOnHome()"></app-sample-projects>
  </div>
  <div class="main1-samples-wrapper">
    <div>
      <a href="https://vyperlogix.com/" target="_blank"><img alt="Vyper Logix Corp" matTooltip="Sponsored by Vyper Logix Corp"
    src="https://img.shields.io/badge/Angular%20v11-Sample%20Site-blue?style=plastic&logo=angular"></a>
    </div>
    <div>
      <a href="https://console.firebase.google.com/" target="_blank"><img alt="Google Firebase" matTooltip="Hosted by Google Firebase"
    src="https://img.shields.io/badge/Google%20Cloud%20Platform-Firebase-blue?style=plastic&logo=firebase"></a>
    </div>
  </div>
  <div>
    <img src="https://visitor-badge.laobi.icu/badge?page_id=raychorn.raychorn" matTooltip="github.com/raychorn visitors">
  </div>
  <div>
    <app-github-stats *ngIf="isOnGithubStats()"></app-github-stats>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
