<div class="main1-wrapper">
  <div>
    <h1>raychorn.github.io</h1>
  </div>
  <div>
    <h2> Ray C Horn - Senior Software Engineer</h2>
  </div>
  <div>
    <h3>Full Stack Developer</h3>
  </div>
  <div>
    <app-languages-tech *ngIf="isOnLanguagesAndTech()"></app-languages-tech>
  </div>
  <div>
    <app-sample-projects *ngIf="isOnHome()"></app-sample-projects>
  </div>
  <div class="main1-languages-wrapper">
    <div>
      <a href="https://vyperlogix.com/" target="_blank"><img alt="Vyper Logix Corp"
    src="https://img.shields.io/badge/Angular%20v11-Sample%20Site-blue?style=flat-square&logo=angular"></a>
    </div>
    <div>
      <a href="https://console.firebase.google.com/" target="_blank"><img alt="Google Firebase"
    src="https://img.shields.io/badge/Google%20Cloud%20Platform-Firebase-blue?style=flat-square&logo=firebase"></a>
    </div>
  </div>
  <div>
    <app-github-stats *ngIf="isOnGithubStats()"></app-github-stats>
  </div>
</div>
