.layout-wrapper {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(30, 1fr);
	width: 100vw;
	height: 100vh;
}

.layout-wrapper > div {
    background-color: lightblue;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.layout-grid-cell0 {
	grid-column: 1 / 11;
	grid-row: 1 / 6;
}
.layout-grid-cell2 {
	grid-column: 1 / 10;
	grid-row: 6 / 30;
}
.layout-grid-cell3 {
	grid-column: 10 / 11;
	grid-row: 6 / 29;
}

