.header-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 160px;
  margin-top: 5px;
  margin-left: 10px;
}

.header-wrapper img {
  width: 100vw;
  height: 15vh;
  margin-top: -5px;
  margin-left: -10px;
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 440px) {
}
